:host {
  max-height: 220px !important;
  max-width: 100% !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
  scrollbar-width: none !important;
}

:host::-webkit-scrollbar {
  display: none !important;
}

[part="overlay"] {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
}

[part="content"] {
  overflow: hidden !important;
  max-width: 100% !important;
  box-sizing: border-box !important;
  scrollbar-width: none !important;
}

[part="content"]::-webkit-scrollbar {
  display: none !important;
}
