[part="content"] {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

[part="content"]::-webkit-scrollbar {
  display: none;
}

#scroller {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

#scroller::-webkit-scrollbar {
  display: none;
}

:host {
  max-height: 220px;
}